@import url('~bootstrap/dist/css/bootstrap.css');

.jumbotron {
  background-image: url('https://images.unsplash.com/photo-1574970324184-746b18c8bd49');
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFF;
}

footer {
  background: #212121;
}